<%- include('header'); -%>
<script>
    function validateForm() {
    let title = document.forms["myForm"]["postTitle"].value;
    let content = document.forms["myForm"]["postBody"].value;

    if(title == "") {
        alert("Title must be filled out");
        return false;
      }
    if(content == ""){
        alert("Post Content must be filled out");
        return false;
    }
  }
</script>
<h1>Compose</h1>
<form name="myForm" class="" action="/compose" method="post" onsubmit="return validateForm()">
    <div class="form-group">
        <label><b>Title</b></label>
        <input id="title" type="text" class="form-control" name="postTitle">
        <label><b>Post</b></label>
        <textarea id="content" name="postBody" class="form-control" cols="30" rows="5"></textarea>
    </div>
<button type="submit"  class="btn btn-primary" name="button">Publish</button>
</form>


<%- include('footer'); -%>